body{
    background-color: #b5dee6;
    font-family: 'Sedgwick Ave', cursive;
}

.header_div{
     background-color: white;
     color: red;
}

.header_div p{
     color: grey;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     letter-spacing: 2px;
     font-size: 12;
     font-weight: bold;
}

.main_div button{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight:bolder;
     letter-spacing: 3px;
     margin-top: 50px;
     width: 150px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #8f8594;
    color: #ccdce0;
    text-shadow: 5px 5px 5px #77aab8;
    line-height: 3;
    font-size: 20px;
}